langchain
langchain-community
langchain-chroma
langchain-google-genai
langchain-huggingface
langchain-text-splitters

chromadb
sentence-transformers
rank-bm25

pypdf
python-dotenv

llm-guard
streamlit
langchain-groq
ragas
