--extra-index-url https://download.pytorch.org/whl/cpu
torch
rich==13.9.4

langchain
langchain-community
langchain-chroma
langchain-google-genai
langchain-huggingface
langchain-text-splitters

chromadb
sentence-transformers
rank-bm25

pypdf
python-dotenv

llm-guard==0.3.15
langchain-groq
ragas