--extra-index-url https://download.pytorch.org/whl/cpu
torch

langchain
langchain-community
langchain-chroma
langchain-google-genai
langchain-huggingface
langchain-text-splitters

chromadb
sentence-transformers
rank-bm25

pypdf
python-dotenv

llm-guard
langchain-groq
ragas
pysqlite3-binary
datasets>=3.0.0